body,
html {
    font-size: 14px;
    background: #fff;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Microsoft YaHei", sans-serif, Arial;
    overflow-x: hidden;
    max-width: 1920px;
    margin: 0 auto;
}

* {
    text-decoration: none;
    list-style: none;
}

img {
    border: 0px;
}

ul,
li,
dl,
dd,
dt,
p,
ol,
h1,
h2,
h3,
h4,
h5 {
    font-size: 12px;
    font-weight: 100;
    padding: 0;
    margin: 0;
}

button, 
input,
textarea {
    font-family: inherit;
}

button:active,
button:focus {
    outline: none;
}

input:focus,
textarea:focus {
    outline: none;
}

.wrap {
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
    *zoom: 1;
}

.clearfix:after {
    clear: both;
}

.hide {
    display: none;
}

.loading {
    background: #212021 url('../images/loading2.gif') center center no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* header */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1920px;
    height: 82px;
    background: #1f1b1e;
    z-index: 5;
}

.logo {
    position: absolute;
    left: 150px;
    top: 25px;
}

.nav-btn {
    display: none;
    position: absolute;
    right: 15px;
    top: 30px;
    width: 30px;
    height: auto;
    transition-duration: .5s;
    -ms-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    cursor: pointer;
    z-index: 1;
}

.btn-an {
    transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
}

.container {
    position: relative;
    width: 740px;
    height: 82px;
    margin: 0 auto;
}

.nav {
    width: 600px;
    height: 82px;
    line-height: 82px;
    margin: 0 auto;
}

.nav > li {
    position: relative;
    float: left;
}

.nav > li > a {
    display: inline-block;
    height: 82px;
    padding: 0 10px;
    font-size: 14px;
    color: #696968;
}

.nav > li > a:after {
    display: inline-block;
    position: relative;
    top: 9px;
    right: -10px;
    width: 13px;
    height: 26px;
    content: '';
    background: url("../images/header/nav_icon.png") no-repeat;
}

.nav > li.last > a:after {
    display: none;
}

.nav > li:hover a {
    color: #fff;
}

.nav > li:hover:before {
    content: '';
    position: absolute;
    left: 8px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-left-width: 28px;
    border-right-width: 28px;
    border-top-width: 10px;
    border-color: #eb5f0e transparent transparent transparent;
    border-style: solid dashed dashed dashed;
}

li.first:hover:before {
    left: -5px;
}

.nav > li:hover:after {
    content: '';
    position: absolute;
    left: -10px;
    bottom: 1px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-left-width: 48px;
    border-right-width: 48px;
    border-bottom-width: 16px;
    border-color: transparent transparent #3f4041 transparent;
    border-style: dashed dashed solid dashed;
}

li.first:hover:after {
    left: -25px;
}

.nav > li:hover .second-nav {
    display: block;
}

.second-nav {
    display: none;
    position: absolute;
    left: -9px;
    top: 81px;
    width: 94px;
    padding: 10px 0;
    background: #3f4041;
}

.second-nav li {
    line-height: 16px;
    background: #3f4041;
    padding: 5px 13px;
    color: #fff;
    cursor: pointer;
}

.phone {
    position: absolute;
    top: 0;
    right: 150px;
    height: 82px;
    line-height: 82px;
    color: #696968;
    font-weight: 400;
}

.phone-icon {
    position: relative;
    top: 2px;
    right: 5px;
}

.tel-num:hover {
    color: #eb610f;
    cursor: pointer;
    transition: all .2s;
}

/* footer */
.footer {
    position: relative;
    width: 100%;
}

.footer-main {
    width: 100%;
    background: url("../images/footer/footer1.png") center top;
    box-shadow: 0 -2px 0px #3d3d3d, 0 -3px 5px #353434, 0 -5px 0px #3d3d3d;
}

.footer-floor {
    width: 100%;
    background: #171616;
}

.footer-top {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 35px 0 30px 0;
    color: #b2b2b2;
}

.footer-top .item {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    float: left;
    height: 120px;
    overflow: hidden;
}

.footer-top .item1 {
    width: 340px;
    line-height: 150px;
    border-right: 1px solid #323232;
}

.footer-top .item2 {
    width: 403px;
    padding: 0 45px 0 25px;
    border-right: 1px solid #323232;
    border-left: 1px solid #1a1a1a;
}

.footer-top .item3 {
    padding-left: 25px;
    border-left: 1px solid #1a1a1a;
}

.footer-title {
    position: relative;
    display: block;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    color: #fff;
    padding-left: 28px;
}

.footer-title.copy:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: url('../images/footer/copyright.png') no-repeat;
}

.footer-title.contact:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: url('../images/footer/tel.png') no-repeat;
}

.copyright {
    position: relative;
    line-height: 18px;
    padding: 15px 0 12px 26px;
}

.copyright2 {
    position: relative;
    padding-left: 26px;
}

.copyright:before,
.copyright2:before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #eb610f;
}

.copyright:before {
    left: 3px;
    top: 20px;
}

.copyright2:before {
    left: 3px;
    top: 6px;
}

.footer-contact {
    margin-top: 10px;
}

.footer-contact > p {
    line-height: 31px;
}

.footer-contact .address {
    position: relative;
    padding-left: 20px;
    font-size: 14px;
    color: #898989;
}

.footer-contact .address:before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    top: 8px;
    left: 0;
    background: url('../images/footer/address.png') no-repeat;
}

.footer-contact .tel {
    letter-spacing: 2px;
    font-size: 16px;
    color: #fcfcfc;
}

.footer-contact .mail {
    letter-spacing: 2px;
    font-size: 14px;
    color: #eb5f0d;
}

.footer-bottom {
    width: 1200px;
    margin: 0 auto;
    padding: 15px 0;
    color: #898989;
    font-size: 12px;
}

.go-top {
    position: fixed;
    right: 40px;
    bottom: 80px;
    cursor: pointer;
    z-index: 9999;
}

@media (max-width: 1439px) and (min-width: 1200px) {
    .logo {
        left: 50px;
    }

    .phone {
        right: 50px;
    }
}

@media (max-width: 1200px) {
    .footer-bottom {
        width: 100%;
    }
}

@media (max-width: 1199px) and (min-width: 1024px) {

    /* header */
    .container {
        width: 630px;
    }

    .logo {
        left: 20px;
    }

    .nav {
        width: 535px;
    }

    .nav > li > a {
        font-size: 12px;
    }

    .phone {
        right: 10px;
    }

    .phone span {
        font-size: 12px;
    }

    /* footer */
    .footer-top {
        width: 1023px;
    }

    .footer-top .item1 {
        width: 180px;
    }
}

@media (max-width: 1023px) and (min-width: 860px) {

    /* footer */
    .footer-top {
        width: 860px;
    }
}

@media (max-width: 1023px) {
    
    /* header */
    .header {
        position: fixed;
    }

    .container, .phone {
        display: none;
    }

    .container {
        display: block;
        height: 0;
    }

    .nav {
        display: block;
        position: fixed;
        top: 82px;
        width: 124px;
        height: 5035px;
        right: -125px;
        background: #1f1b1e;
        line-height: normal;
        text-align: center;
    }

    .nav > li > a {
        float: none;
        font-size: 14px;
        margin: 0px;
        width: 124px;
        height: 50px;
        line-height: 50px;
        color: #f1f1f1;
    }

    .nav > li > a:after {
        display: none;
    }

    .nav > li:hover:before, 
    .nav > li:hover:after {
        display: none;
    }

    .nav > li:hover .second-nav {
        display: none;
    }

    .logo {
        left: 17px;
    }

    .nav-btn {
        display: block;
    }

    .header > a {
        display: inline-block;
        height: 82px;
        line-height: 116px;
    }

    .mb100 {
        margin-bottom: 50px;
    }

    .range h1 {
        font-size: 30px;
    }

    /* footer */
    .footer-top .item1 {
        display: none;
    }

    .footer-top .item2 {
        border-left: none;
    }
}

@media (max-width: 860px) and (min-width: 640px) {

    /* footer */
    .footer-top {
        width: 860px;
    }

    .footer-top .item1 {
        display: none;
    }

    .footer-top .item2 {
        border-left: none;
    }
}

@media (max-width: 860px) {
    .footer-main {
        background: #292828;
    }

    .footer-top {
        width: 100%;
    }

    .footer-top .item {
        float: none;
        height: 100%;
    }

    .footer-top .item2 {
        width: 90%;
        border-right: none;
        margin-bottom: 20px;
    }

    .footer-bottom {
        text-align: center;
    }

    .footer-top .item3 {
        border-left: none;
    }

    .footer-contact .tel {
        letter-spacing: 1px;
        font-size: 14px;
    }
}

@media (max-width: 639px) {
    .go-top {
        right: 15px;
    }
}