body {
	background: #181715 url("../images/example_detail/bg.jpg") no-repeat;
	background-position: center top;
}

.example-detail {
	width: 100%;
	margin-top: 82px;
}

.exd-box {
	width: 1200px;
	margin: 0 auto;
}

.exd-header {
	padding: 100px 0 150px 240px;
}

.exd-title {
	width: 696px;
	height: 141px;
}

.exd-banner {
	display: block;
	width: 371px;
	height: 50px;
	margin: 40px 0 10px 0;
}

.exd-team-txt {
	width: 699px;
}

.exd-team-txt p {
	font-size: 14px;
	color: #e1ce7b;
	letter-spacing: 1px;
	line-height: 28px;
}

.exd-video {
	position: relative;
	width: 732px;
	height: 611px;
	margin: 0 auto;
	background: url('../images/example_detail/computer.png') center center no-repeat;
	background-size: contain;
	margin-top:20px;
}

.video {
	display: block;
	position: absolute;
	left: 29px;
    top: 28px;
    background: #000;
}

.exd-project {
	position: relative;
	width: 925px;
	padding: 10px 30px 30px;
	margin: 100px auto 0;
}

.exd-project-bg2 {
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
	height: 100px;
	background: #121212;
}

.exd-line {
	position: absolute;
	top: 0;
}

.exd-project-inner {
	position: relative;
	width: 863px;
	margin: 0 auto;
	padding: 25px;
	border-radius: 5px;
	background-color: #2f2e2e;
	overflow: hidden;
}

.exd-project-name {
	display: inline-block;
	width: 53px;
	height: 53px;
	border: 6px solid #000;
	border-radius: 3px;
	background: #eb5f0d;
	color: #fff;
	text-align: center;
	padding: 18px;
	font-size: 24px;
    line-height: 28px;
}

.exd-project-txt {
	display: inline-block;
	width: 479px;
	height: 100px;
	vertical-align: top;
	padding: 0 50px 0 30px;
	overflow: hidden;
}

.exd-project-txt h3 {
	color: #fff;
	font-size: 22px;
    margin: 5px 0 10px;
}

.exd-project-txt p {
	color: #b5b5b6;
	line-height: 20px;
}

.exd-project-menu {
	display: inline-block;
	vertical-align: top;
}

.exd-menu-txt {
	padding: 15px 10px;
	color: #f0eab1;
	box-shadow: inset 0 0 5px #000, 0 0 5px #7b796c;
	letter-spacing: 3px;
}

.exd-menu-btn {
    padding: 8px 38px;
    color: #403702;
    letter-spacing: 4px;
    font-size: 24px;
    border-radius: 20px;
    border: 0;
    margin-top: 15px;
    background: linear-gradient(#f0f0c3 2%, #dede61 96%, #f0f0c3 2%);
    cursor: pointer;
}

.exd-result {
	width: 860px;
	margin: 0 auto 40px;
	padding: 45px 25px 40px;
	background: #000;
}

.exd-result-title {
	text-align: center;
	font-size: 22px;
	color: #fff;
	margin-bottom: 20px;
}

.exd-result-txt {
	position: relative;
	color: #eb5f0d;
	padding: 15px 25px 25px;
	line-height: 24px;
    letter-spacing: 1px;
}

.exd-result-txt:before {
	content: '“';
	position: absolute;
	top: 0px;
	left: -30px;
	font-size: 44px;
}

.exd-result-txt:after {
	content: '”';
	position: absolute;
	bottom: 0px;
	right: -30px;
	font-size: 44px;
}

.exd-result-img {
	padding: 0 15px;
	text-align: center;
}

.exd-result-img li {
	display: inline-block;
	margin-right: 8px;
	vertical-align: middle;
	width: 30%;
    margin-bottom: 8px;
}

.exd-result-img li > img {
	width: 100%;
    height: auto;
}

@media (max-width: 1199px) and (min-width: 985px) {
	.exd-box {
		width: 985px;
	}

	.exd-header {
		padding: 100px 0 150px 135px;
	}
}

@media (max-width: 984px) {
	.exd-box {
		width: 100%;
	}
	
	.exd-header {
		padding: 100px 0 150px 40px;
		text-align: left;
	}

	.exd-project {
		width: 90%;
		padding: 10px 0 30px;
	}

	.exd-project-inner {
		width: 100%;
		padding: 25px 0;
	}

	.exd-project-name {
		display: block;
		margin: 0 auto;
	}

	.exd-project-txt {
		display: block;
		width: 90%;
		height: auto;
		margin: 20px auto;
		padding: 0;
		text-align: justify;
		overflow: auto;
	}

	.exd-project-txt h3 {
		text-align: center;
	}

	.exd-project-menu {
		display: block;
		width: 190px;
		margin: 0 auto;
		text-align: center;
	}

	.exd-menu-btn {
		font-size: 18px;
	}

	.exd-result {
		width: 90%;
		padding: 45px 0 40px;
	}
}

@media (max-width: 800px) {
	.exd-video {
		width: 500px;
		height: 415px;
	}

	.video {
		left: 23px;
		top: 20px;
		width: 456px;
    	height: 257px;
	}
}

@media (max-width: 780px) {
	.exd-title {
		width: 500px;
		height: 120px;
	}

	.exd-team-txt {
		width: 90%;
	}

	.exd-img > img {
		width: 90%;
	}

}

@media (max-width: 560px) {
	.exd-title {
		width: 280px;
    	height: 70px;
	}
	
	.exd-header {
		padding: 100px 0 70px 20px;
	}

	.exd-banner {
		display: none;
	}

	.exd-team-txt {
		width: 90%;
	}

	.exd-project {
		margin: 50px auto 0;
	}
}

@media (max-width: 500px) {
	.exd-video {
		width: 280px;
		height: 240px;
	}

	.video {
		left: 11px;
    	top: 15px;
    	width: 258px;
    	height: 144px;
	}
}