.lession {
	width: 100%;
	margin-top: 82px;
	background: #fff url('../images/lession_detail/bg.jpg') center top no-repeat;
}

/* 头部介绍 */
.le-header {
	width: 1200px;
	margin: 0 auto;
	padding: 115px 0 215px 0;
	text-align: center;
}

.le-title,
.le-subtitle {
	display: block;
	margin: 0 auto;
}

.le-subtitle {
	margin: 30px auto;
}

/* 中部介绍 */
.le-intro {
	width: 1200px;
	margin: 0 auto;
	padding: 75px 0 85px 0;
	text-align: center;
}

.le-intro-img {
	margin-bottom: 30px;
}

.le-intro > p {
	color: #9f9f9f;
	line-height: 24px;
}

/* 课程介绍 */
.le-lession {
	position: relative;
	width: 100%;
	height: 935px;
    max-width: 1925px;
    margin: 0 auto;
    overflow: hidden;
}

.le-nav {
	width: 215px;
	height: 710px;
	padding: 120px 65px 105px 0;
	background: url('../images/lession_detail/le_nav.png') no-repeat;
}

.le-logo {
	width: 100%;
	text-align: right;
}

.le-navlist {
	padding: 165px 0 125px;
}

.le-navlist > li {
	color: #fff;
	font-size: 16px;
	padding-left: 60px;
	line-height: 40px;
	cursor: pointer;
	transition: all .5s;
}

.le-navlist > li:hover,
.le-navlist > li.active {
	background: #fff;
	color: #eb610f;
}

.le-content {
	position: absolute;
	left: 278px;
	top: 0;
	right: 0;
	bottom: 0;
}

.le-share {
	padding-left: 60px;
}

.le-tel {
	font-size: 16px;
	color: #eb610f;
	letter-spacing: 1px;
}

.le-share-box {
	position: relative;
	margin-top: 10px;
}

.le-share-item {
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: #eb610f;
	background-position: center center;
	background-repeat: no-repeat;
	transition: all .3s;
	cursor: pointer;
}

.le-share-item:hover {
	background-color: #fff;
}

.share-box {
	position: relative;
	right: -42px;
	width: 0;
	height: 40px;
	background: #fff;
	z-index: 2;
	overflow: hidden;
}

.share-big-box {
	position: relative;
	top: -55px;
	right: -42px;
	width: 0;
	height: 95px;
	background: #fff;
	z-index: 2;
	overflow: hidden;
}

.share-big-box .qrcode {
	display: inline-block;
	width: 98px;
	text-align: center;
	vertical-align: middle;
}

.share-box .wechat {
	position: absolute;
	left: 17px;
	top: 10px;
}

.share-box .weibo {
	position: absolute;
	left: 45px;
	top: 10px;
}

.share-box .qme {
	display: inline-block;
	width: 100%;
    text-align: center;
    color: #eb610f;
    line-height: 40px;
    font-size: 14px;
    text-indent: 6px;
}

.share-focus {
	display: inline-block;
	width: 100%;
    text-align: center;
    line-height: 40px;
    color: #eb610f;
}

.share-focus > a,
.share-focus img {
	vertical-align: middle;
}

.share-border {
	position: absolute;
	left: 0;
	top: 0;
	width: 5px;
	height: 40px;
	background: #eb610f;
}

.triangle {
	position: absolute;
	left: -1px;
	top: 16px;
	width: 0;
	height: 0;
	overflow: hidden;
    border-left-width: 3px;
    border-color: transparent #fff transparent transparent;
    border-style: dashed solid dashed dashed;
}

.le-share-item {
	border-right: 2px solid #252626;
}

.le-share-item.share {
	top: 0;
	left: 0;
	background-image: url('../images/lession_detail/share_icon_1.png');
}

.le-share-item.share:hover {
	background-image: url('../images/lession_detail/share_icon_active_1.png');
}

.le-share-item.im {
	top: 0;
	left: 42px;
	background-image: url('../images/lession_detail/share_icon_2.png');
}

.le-share-item.im:hover {
	background-image: url('../images/lession_detail/share_icon_active_2.png');
}

.le-share-item.weibo {
	top: 42px;
	left: 0;
	background-image: url('../images/lession_detail/share_icon_3.png');
}

.le-share-item.weibo:hover {
	background-image: url('../images/lession_detail/share_icon_active_3.png');
}

.le-share-item.wechart {
	top: 42px;
	left: 42px;
	background-image: url('../images/lession_detail/share_icon_4.png');
}

.le-share-item.wechart:hover {
	background-image: url('../images/lession_detail/share_icon_active_4.png');
}

.le-content .content {
	width: 100%;
	height: 935px;
	overflow-x: auto;
	overflow-y: hidden;
}

/* 课程内容 */
/* 企业高级内训 */
.unslide {
	height: 930px;
	overflow-x: auto;
	overflow-y: hidden;
}

.slide-wripe {
	min-width: 1650px;
    height: 935px;
}

.slide-left {
	position: relative;
	float: left;
	width: 260px;
	height: 685px;
	padding: 250px 70px 0;
	text-align: center;
	background: #4c4948;
}

.slide-right {
	float: left;
	width: 1250px;
	height: 935px;
}

.slide-banner {
	position: relative;
    top: -28px;
	width: 100%;
	height: 85px;
	padding-top: 35px;
	background: url('../images/lession_detail/content_border.png') no-repeat;
	background-position: 50% 11px;
}

.slide-banner .name {
	color: #eb610f;
	font-size: 34px;
}

.slide-banner .theme {
	color: #eb610f;
	font-size: 20px;
	line-height: 36px;
}

.slide-left .txt {
	text-align: left;
	color: #dcdddd;
	line-height: 20px;
	letter-spacing: 2px;
}

.slide-menu-txt {
	width: 170px;
	margin: 0 auto;
	padding: 15px 10px;
	margin: 50px auto 10px;
	color: #eb610f;
	font-size: 14px;
	border-radius: 3px;
	box-shadow: inset 0 0 5px #000, 0 0 5px #7b796c;
	letter-spacing: 3px;
	background: #212020;
}

.slide-btn {
	width: 188px;
	line-height: 32px;
	color: #fff;
	font-size: 24px;
	background: linear-gradient(#f29128, #c16735);
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.unslider-nav {
	position: absolute;
	top: 60px;
	width: 100%;
}

.unslider-nav ol {
	position: absolute;
	right: 50px;
}

.unslider-nav ol li {
	width: 10px;
	height: 10px;
	margin: 0 10px;
	background: #8b3700;
	border: none;
}

.unslider-nav ol li.unslider-active {
	background: #eb610f;
}

/* 精品课程 */
.le-content .course {
	width: 92%;
	height: 695px;
	padding: 140px 4% 100px;
	background: #4c4948;
}

.course-box {
	max-width: 1440px;
	min-width: 1000px;
	margin: 0 auto;
}

.course-top {
	position: relative;
	float: left;
	width: 49%;
	height: 370px;
	background-repeat: no-repeat;
	margin-bottom: 20px;
	text-align: center;
}

.course1 .computer {
	position: absolute;
	left: 50%;
	top: -40px;
	width: 440px;
	height: 270px;
	margin-left: -220px;
}

.course1 .intro {
	padding-top: 210px;
}

.intro .title {
	color: #fff;
	font-size: 17px;
	line-height: 35px;
	letter-spacing: 1px;
}

.intro .txt-box {
	padding-bottom: 25px
}

.intro .mark {
	color: #fff;
	font-size: 12px;
	letter-spacing: 2px;
}

.intro .border {
	display: inline-block;
	width: 40px;
	height: 1px;
	background: #ccc;
	vertical-align: middle;
}

.course2 {
	overflow: hidden;
}

.course2 .word {
	position: absolute;
	left: 35px;
	top: 100px;
	width: 260px;
}

.course2 .man {
	position: absolute;
	right: -15px;
	top: 87px;
	width: 260px;
}

.course2 .btns {
	position: absolute;
	left: 32px;
	bottom: 41px;
}

.course-bottom {
	display: table;
	float: left;
	width: 32%;
	height: 305px;
	background-repeat: no-repeat;
}

.course-bottom .cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.course-box .btn {
	display: inline-block;
	font-size: 16px;
	color: #eb610f;
	background: #1d2227;
	border: 1px solid #675228;
	padding: 7px 25px;
	cursor: pointer;
}

.cell .txt1 {
	color: #babcbc;
	font-size: 20px;
	letter-spacing: 2px;
}

.cell .txt2 {
	line-height: 60px;
	color: #e7d7ac;
	font-size: 30px;
	letter-spacing: 2px;
}

.cell .circle {
	display: block;
	height: 12px;
	line-height: 0px;
	font-size: 24px;
    color: #d3be91;
}

.course .mr2 {
	margin-right: 2%;
}

.course .course1 {
	background-image: url('../images/lession_detail/content2/content2_1.jpg');
}

.course .course2 {
	background-image: url('../images/lession_detail/content2/content2_2.jpg');
}

.course .course3 {
	background-image: url('../images/lession_detail/content2/content2_3.jpg');
}

.course .course4 {
	background-image: url('../images/lession_detail/content2/content2_4.jpg');
}

.course .course5 {
	background-image: url('../images/lession_detail/content2/content2_5.jpg');
}

/* 公益演讲 */
.le-content .speeking {
	position: relative;
	width: 100%;
	height: 935px;
	background: #999898 radial-gradient(circle at center, #999898, #454242);
	overflow: hidden;
}

.speeking .free {
	position: absolute;
	top: 70px;
	left: 150px;
	z-index: 2;
}

.speeking .layer {
	position: absolute;
	bottom: 0;
	width: 110%;
	min-width: 1000px;
	height: 900px;
}

/* 线下精英特训营 */
.le-content .training {
	width: 92%;
	height: 620px;
	padding: 190px 4% 125px;
	background: #3c3b3c;
}

.training-box {
	max-width: 1440px;
	min-width: 1000px;
	margin: 0 auto;
}

.training .left {
	float: left;
	width: 70%;
}

.training .right {
	float: left;
    width: 19%;
    height: 465px;
    background: #060606;
    margin-left: 8px;
    padding: 80px 50px 55px;
}

.training .right > p {
	font-size: 12px;
	color: #b5b5b6;
	letter-spacing: 2px;
	line-height: 20px;
}

.training .photos {
	width: 100%;
	height: 600px;
}

.training .call {
	margin-top: -20px;
	text-align: center;
}

/* 名师阵容 */
.le-content .teacher {
	width: 92%;
	height: 680px;
	padding: 130px 4% 125px;
	background: url('../images/lession_detail/content5/bg.jpg') center center no-repeat;
}

.teacher-box {
	max-width: 1440px;
	min-width: 1000px;
	margin: 0 auto;
	text-align: center;
}

.title-box .title {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	color: #fff;
	font-size: 52px;
	background: transparent;
}

.title-box .caption {
	position: relative;
}

.title-box .line {
	display: inline-block;
	vertical-align: middle;
	width: 40%;
	height: 1px;
	background: #727171;
}

.sub-title {
	display: block;
	font-size: 24px;
	color: #c9caca;
	word-spacing: 5px;
	padding: 20px 0 100px;
}

.teacher-list > li {
	float: left;
	width: 33.3333%;
	cursor: pointer;
}

.teacher-list .face {
	width: 260px;
	height: 260px;
	border-radius: 50%;
	border: 5px solid #84848a;
	margin: 0 auto;
}

.teacher .call {
	margin-top: 45px;
}

.teacher .name {
	font-size: 24px;
	color: #fff;
}

.teacher .honor {
	font-size: 14px;
	color: #fff;
}

.split {
	display: inline-block;
	width: 45px;
	height: 1px;
	background: #b5b5b6;
	margin: 10px 0 7px;
}

.teacher .intro {
	width: 240px;
	line-height: 22px;
	margin: 0 auto;
	color: #b5b5b6;
    font-size: 14px;
}

/* 绎奇动态 */
.le-content .news {
	width: 92%;
	height: 720px;
	padding: 130px 4% 85px;
	background: #3c3b3c;
}

.news-box {
	max-width: 1440px;
	min-width: 1000px;
	margin: 0 auto;
	text-align: center;
}

.news-box .sub-title {
	padding: 20px 0 40px;
}

.news-list {
	width: 85%;
	margin: 0 auto;
	text-align: left;
}

.news-list img {
	vertical-align: bottom;
}

.news-list > li {
	position: relative;
	width: 100%;
	border-bottom: 2px solid #727171;
	margin-bottom: 15px;
}

.news-list h3 {
	font-size: 20px;
	color: #fff;
	margin-bottom: 20px;
}

.news-list .contents {
	position: absolute;
	top: 0;
	left: 220px;
	bottom: 25px;
	padding: 30px 0 0;
	overflow: hidden;
}

.news-list .txt {
	color: #9fa0a0;
	line-height: 20px;
}

.news-list .time {
	position: absolute;
	right: 0;
	top: 0;
	width: 150px;
	height: 52px;
	line-height: 52px;
	font-size: 20px;
	color: #fff;
	background: #eb610f;
	text-align: center;
}

.pagination {
	margin: 40px auto 0;
}

.pagination .prev,
.pagination .next {
	font-size: 14px;
    color: #898989;
    cursor: pointer;
}

.pagination .page {
	display: inline-block;
	padding: 0 30px;
}

.pagination .page > li {
	display: inline-block;
	width: 60px;
	text-align: center;
	font-size: 14px;
    color: #898989;
    cursor: pointer;
}

.pagination .page > li.active {
	color: #d1d1d1;
}

/* 动画效果 */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.flipInY {
    -webkit-backface-visibility: visible!important;
    backface-visibility: visible!important;
    -webkit-animation-name: flipInY;
    animation-name: flipInY
}

@-webkit-keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotate3d(0,1,0,90deg);
        transform: perspective(400px) rotate3d(0,1,0,90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(0,1,0,-20deg);
        transform: perspective(400px) rotate3d(0,1,0,-20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(0,1,0,10deg);
        transform: perspective(400px) rotate3d(0,1,0,10deg);
        opacity: 1
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(0,1,0,-5deg);
        transform: perspective(400px) rotate3d(0,1,0,-5deg)
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px)
    }
}

@keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotate3d(0,1,0,90deg);
        transform: perspective(400px) rotate3d(0,1,0,90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(0,1,0,-20deg);
        transform: perspective(400px) rotate3d(0,1,0,-20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(0,1,0,10deg);
        transform: perspective(400px) rotate3d(0,1,0,10deg);
        opacity: 1
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(0,1,0,-5deg);
        transform: perspective(400px) rotate3d(0,1,0,-5deg)
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px)
    }
}