.lession {
	width: 100%;
	margin-top: 82px;
	background: #000 url('../images/lession_detail/bg.jpg') center top no-repeat;
}

/* 头部介绍 */
.le-header {
	width: 1200px;
	margin: 0 auto;
	padding: 115px 0 215px 0;
	text-align: center;
}

.le-title,
.le-subtitle {
	display: block;
	margin: 0 auto;
}

.le-subtitle {
	margin: 30px auto;
}

/* 中部介绍 */
.le-intro {
	width: 1200px;
	margin: 0 auto;
	padding: 75px 0 85px 0;
	text-align: center;
}

.le-intro-img {
	margin-bottom: 30px;
}

.le-intro > p {
	color: #9f9f9f;
	line-height: 24px;
}

/* 课程介绍 */
.le-lession {
	position: relative;
	width: 100%;
	height: 935px;
    max-width: 1925px;
    margin: 0 auto;
}

.le-nav {
	width: 215px;
	height: 710px;
	padding: 120px 65px 105px 0;
	background: url('../images/lession_detail/le_nav.png') no-repeat;
}

.le-logo {
	width: 100%;
	text-align: right;
}

.le-navlist {
	padding: 165px 0 125px;
}

.le-navlist > li {
	color: #fff;
	font-size: 16px;
	padding-left: 60px;
	line-height: 40px;
	cursor: pointer;
	transition: all .5s;
}

.le-navlist > li:hover,
.le-navlist > li.active {
	background: #fff;
	color: #eb610f;
}

.le-content {
	position: absolute;
	left: 278px;
	top: 0;
	bottom: 0;
	width: 100%;
}

.le-share {
	padding-left: 60px;
}

.le-tel {
	font-size: 16px;
	color: #eb610f;
	letter-spacing: 1px;
}

.le-share-box {
	position: relative;
	margin-top: 10px;
}

.le-share-item {
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: #eb610f;
	background-position: center center;
	background-repeat: no-repeat;
	transition: all .3s;
	cursor: pointer;
}

.le-share-item:hover {
	background-color: #fff;
}

.share-item {
	width: 100px;
	height: 30px;
	background: #fff;
	display: none;
}

.le-share-item.share {
	top: 0;
	left: 0;
	background-image: url('../images/lession_detail/share_icon_1.png');
}

.le-share-item.share:hover {
	background-image: url('../images/lession_detail/share_icon_active_1.png');
}

.le-share-item.im {
	top: 0;
	left: 42px;
	background-image: url('../images/lession_detail/share_icon_2.png');
}

.le-share-item.im:hover {
	background-image: url('../images/lession_detail/share_icon_active_2.png');
}

.le-share-item.weibo {
	top: 42px;
	left: 0;
	background-image: url('../images/lession_detail/share_icon_3.png');
}

.le-share-item.weibo:hover {
	background-image: url('../images/lession_detail/share_icon_active_3.png');
}

.le-share-item.wechart {
	top: 42px;
	left: 42px;
	background-image: url('../images/lession_detail/share_icon_4.png');
}

.le-share-item.wechart:hover {
	background-image: url('../images/lession_detail/share_icon_active_4.png');
}

/* 课程内容 */
.le-content .slide {
	width: 100%;
	height: 935px;
}

.unslide {
	overflow: auto;
}

.slide-wripe {
	min-width: 1928px;
    height: 935px;
}

.slide-left {
	position: relative;
	float: left;
	width: 260px;
	height: 685px;
	padding: 250px 70px 0;
	text-align: center;
	background: #4c4948;
}

.slide-right {
	float: left;
	width: 1250px;
	height: 935px;
}

.slide-banner {
	position: relative;
    top: -28px;
	width: 100%;
	height: 85px;
	padding-top: 40px;
	background: url('../images/lession_detail/content_border.png') no-repeat center center;
}

.slide-banner .name {
	color: #eb610f;
	font-size: 35px;
}

.slide-banner .theme {
	color: #eb610f;
	font-size: 20px;
	line-height: 42px;
}

.slide-left .txt {
	text-align: left;
	color: #dcdddd;
	line-height: 20px;
	letter-spacing: 2px;
}

.slide-menu-txt {
	width: 170px;
	margin: 0 auto;
	padding: 15px 10px;
	margin: 50px auto 10px;
	color: #eb610f;
	font-size: 14px;
	border-radius: 3px;
	box-shadow: inset 0 0 5px #000, 0 0 5px #7b796c;
	letter-spacing: 3px;
	background: #212020;
}

.slide-btn {
	width: 188px;
	line-height: 32px;
	color: #fff;
	font-size: 24px;
	background: linear-gradient(#e9800f, #b94708);
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.unslider-nav {
	position: absolute;
	top: 60px;
	width: 100%;
}

.unslider-nav ol {
	position: absolute;
	width: 100px;
	right: 300px;
}

.unslider-nav ol li {
	width: 10px;
	height: 10px;
	margin: 0 10px;
	background: #8b3700;
	border: none;
}

.unslider-nav ol li.unslider-active {
	background: #eb610f;
}