/**
 * author: luozh
 * time: 2016-11-05
 * version: 1.0.0
 */

.section {
    height: 700px;
    transition: all 1s;
}

/* banner */
.banner {
    position: relative;
    overflow: hidden;
}

.banner .contents {
    position: absolute;
    top: 81px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.banner .content {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left 120px;
    background-attachment: fixed;
    text-align: center;
}

.content.b1 {
    background: url("../images/slider_1.jpg") no-repeat;
    background-size: cover;
    background-position: center top;
}

.title {
    text-align: center;
}

.title > span {
    display: block;
}

.title-name {
    font-size: 26px;
    color: #2e2e2e;
}

.title-en {
    padding: 5px 0;
    font-size: 20px;
    font-weight: 400;
    color: #727171;
}

.title-line {
    width: 70px;
    height: 1px;
    margin: 0 auto;
    background-color: #e95f24;
}

.caption-txt {
    display: block;
    font-size: 24px;
    color: #b0b0b0;
    line-height: 35px;
}

.swiper-slide-caption .intro1-txt {
    margin-top: 15px;
}

.swiper-slide-caption .intro4-txt {
    margin-top: 0;
}

.intro2-title {
    margin-top: -200px !important;
}

.intro1-title,
.intro3-title {
    margin-top: -80px !important;
}

.intro4-title {
    color: #e05424;
}

.intro3-txts {
    position: relative;
    width: 380px;
    margin: 0 auto;
}

.intro3-txts span {
    position: absolute;
    color: #c9caca;
}

.intro3-txts .txt1 {
    left: 8px;
    top: 0;
    font-size: 58px;
    color: #e05313;
}

.intro3-txts .txt2 {
    left: 132px;
    top: 13px;
    font-size: 25px;
}

.intro3-txts .txt3 {
    left: 132px;
    top: 50px;
    font-size: 16px;
}

.intro3-txts .txt4 {
    display: inline-block;
    left: 210px;
    top: 19px;
    font-size: 14px;
    color: #e05313;
    background: rgba(69, 65, 64, 0.6);
    padding: 3px 10px;
    text-shadow: 2px 1px #000;
}

.swiper-slide-caption .intro2-txt {
    color: #907c51;
    font-size: 30px;
    margin-top: 20px;
}

.swiper-slide-caption .intro2-menu {
    width: 300px;
    padding: 10px 0px 10px 15px;
    margin: 10px auto 0;
    background: url(../images/swiper/intro-02-btn.png) no-repeat 0 center;
    text-align: center;
}
.swiper-slide-caption .intro2-menu:hover {
    background: url(../images/swiper/intro-02-btn-hover.png) no-repeat 0 center;
}

.intro2-menu span,
.intro2-menu img {
    vertical-align: bottom;
    color: #fce6b6;
    font-size: 16px;
    letter-spacing: 1px;
}

.intro2-menu .menu1 {
    margin-left: -25px;
}

.intro2-menu .menu2 {
    margin-left: 27px;
}

.intro1-topic,
.intro3-topic{
    position: relative;
    width: 115px;
    margin: 0 auto 35px;
}

.intro4-topic {
    position: relative;
    width: 115px;
    margin: 0 auto 95px;
}

.intro1-topic .txt {
    position: absolute;
    left: 34px;
    top: 6px;
    color: #fff;
    font-size: 12px;
}

.intro3-topic .txt {
    position: absolute;
    left: 34px;
    top: 10px;
    color: #381302;
    font-size: 12px;
    font-weight: 700;
}

.intro4-topic .txt1 {
    position: absolute;
    left: 33px;
    top: 24px;
    color: #f9ddd0;
    font-size: 12px;
}

.intro4-topic .txt2 {
    position: absolute;
    left: 35px;
    top: 46px;
    color: #383a3a;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 8px;
}

/* about */
.about {
    position: relative;
}

.about-wall {
    position: relative;
    height: 70%;
    background: url("../images/about/about_wall.jpg") center center no-repeat;
    background-size: cover;
}

.about-wall .title {
    height: 20%;
    padding-top: 3%;
}

.about-main {
    width: 80%;
    height: 50%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 2%;
}

.about-description {
    position: absolute;
    bottom: 55px;
    width: 340px;
}

.ab-title {
    line-height: 30px;
}

.ab-title > span {
    display: block;
    font-size: 20px;
    color: #4c4948;
}

.ab-btn {
    width: 110px;
    height: 30px;
    background: #fff;
    border: 1px solid #e95f24;
    padding: 0;
    transition: all .3s;
    webkit-transition: all .3s;
    moz-transition: all .3s;
    ms-transition: all .3s;
    cursor: pointer;
}

.ab-btn:hover {
    background: #e95f24;
    color: #fff;
}

.ab-underline {
    display: inline-block;
    width: 50px;
    height: 1px;
    background-color: #4c4948;
}

.ab-detail {
    padding: 15px 0 40px;
    line-height: 20px;
}

.about-mv {
    width: 50%;
}

.ab-line {
    position: absolute;
    left: -270px;
    bottom: 85px;
    width: 320px;
    z-index: 3;
}

.ab-box {
    position: absolute;
    left: 50%;
    bottom: -30px;
    z-index: 2;
}

.scroll-box {
    position: absolute;
    left: 20px;
    bottom: 132px;
    width: 440px;
    height: 233px;
    background: #ccc;
    overflow: hidden;
    z-index: 2;
    cursor: pointer;
}

.scroll-img {
    display: block;
    width: 100%;
    position: relative;
    transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
}

.scroll-box:hover .scroll-img {
    transform: translateY(calc(233px - 100%));
    -webkit-transform: translateY(calc(233px - 100%));
    -moz-transform: translateY(calc(233px - 100%));
    -ms-transform: translateY(calc(233px - 100%));
}

.ab-ipad {
    position: absolute;
    left: -106px;
    bottom: 11px;
    z-index: 3;
}

.ab-book {
    position: absolute;
    left: 410px;
    bottom: 11px;
    z-index: 1;
}

.ab-computer {
    position: relative;
}

.about-empty {
    height: 10%;
}

.about-num {
    height: 20%;
    background: url("../images/about/about_num.jpg") center center no-repeat;
    background-size: cover;
}

.ab-num {
    display: table;
    table-layout: fixed;
    width: 80%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.ab-num .item {
    display: table-cell;
    vertical-align: middle;
    width: 25%;
    height: 100%;
    color: #fff;
}

.ab-num .number {
    font-size: 36px;
    color: #e95f24;
    font-weight: 600;
}


/* example */
.example {
    position: relative;
    background: url("../images/example/expame_bg.jpg") center top no-repeat;
}

.example-items .box {
    position: relative;
    float: left;
    width: 25%;
    height: 50%;
    overflow: hidden;
    cursor: pointer;
}

.example-items .box > img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.example-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(0.6, 0.8);
    -webkit-transform: scale(0.6, 0.8);
    -ms-transform: scale(0.6, 0.8);
    -o-transform: scale(0.6, 0.8);
    transition: .38s all ease-in-out;
    background: rgba(39, 29, 27, 0.83);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    overflow: hidden;
}

.example-details.table {
    display: table;
    width: 100%;
    height: 100%;
}

.example-details.table .table-cell {
    display: table-cell;
    vertical-align: middle;
}

.example-items .box:hover .example-details {
    opacity: 1;
    visibility: visible;
    border-radius: 0;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.example-details .time {
    font-size: 22px;
    font-weight: 600;
    padding: 15px 0;
}

.example-details .line {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 1px;
    background-color: #fff;
}

.example-details .more {
    line-height: 20px;
    font-weight: 400;
} 

.white {
    color: #fff;
}

.red {
    color: red;
}

.example-title {
    height: 20%;
}

.example-title .title {
    padding-top: 3%;
}

.example-items {
    height: 70%;
}

.example-btn {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 10%;
    background: #f2f2f2;
    text-align: center;
}

.example-btn > div {
    display: table-cell;
    vertical-align: middle;
}

.example-btn .more {
    width: 125px;
    height: 28px;
    line-height: 28px;
    background-color: #eb5f0e;
    padding: 0;
    color: #fff;
    border: none;
    cursor: pointer;
}


/* lession */
.lession {
    position: relative;
}

.lession-title {
    height: 20%;
}

.lession-title .title {
    padding-top: 3%;
}

.lession-items {
    height: 80%;
}

.lession-items .item {
    position: relative;
    float: left;
    width: 33.33333333%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}

.item-top {
    height: 100%;
}

.item-bottom {
    height: 100%;
}

.item-bottom .lession-img {
    display: inline-block;
}

.lession-img {
    display: block;
    height: 65%;
    width: 65%;
    max-width: 431px;
}

.lession-img:hover {
    box-shadow: 0 0 10px #2e2e2e;
}

.lession-items .item1 {
    background-color: #b3847c;
}

.lession-items .item2 {
    background-color: #da7547;
}

.lession-items .item3 {
    background-color: #b39f7c;
}

.l-box {
    display: table;
    width: 100%;
    height: 35%;
    color: #fff;
    background: url("../images/lession/lession-icon.png") no-repeat;
    background-position: 50% 75%;
}

.l-cell {
    display: table-cell;
    vertical-align: middle;
}

.l-en {
    padding-bottom: 10px;
}

.l-title {
    font-size: 24px;
    
}

.l-time {
    font-size: 14px;
}

.show480 {
    display: none;
}


/* member */
.member {
    background: url("../images/member/member_bg.jpg");
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;
}

.member .content {
    padding-top: 340px;
}

.member .title span {
    color: #fff;
}

.member .slogan {
    padding: 15px 0;
    font-size: 54px;
    color: #e05313;
}

.member .txt {
    color: #fff;
    font-size: 16px;
    /*padding-top:10px;*/
}


/* service */
.service {
    position: relative;
    background: url("../images/service/service_bg.jpg") center top no-repeat;
    background-size: cover;
}

.service-title {
    height: 20%;
}

.service-title .title {
    padding-top: 3%;
}

.service-body {
    width: 100%;
    height: 80%;
}

.service-box {
    height: 100%;
}

.service-platform {
    position: relative;
    width: 90%;
    max-width: 1400px;
    height: 50%;
    margin: 0 auto;
}

.service-platform .item {
    position: absolute;
    bottom: 120px;
    z-index: 2;
}

.service-plat {
    position: absolute;
    left: -10px;
    bottom: -150px;
    width: 100%;
}

.layer {
    width: 100%;
    height: 100%;
}

.forward {
    z-index: 2;
}

.service-item1 {
    left: 10%;
}

.service-item2 {
    left: 25%;
}

.service-item3 {
    left: 42%;
}

.service-item4 {
    left: 58%;
}

.service-item5 {
    left: 74%;
}

.service-detail {
    position: relative;
    width: 76%;
    max-width: 1100px;
    height: 50%;
    margin: 0 auto;
}

.sd-item {
    display: inline-block;
    vertical-align: top;
    width: 19%;
    text-align: center;
    border-right: 1px solid #ccc;
}

.sd-title {
    font-size: 20px;
}

.sd-subtitle {
    color: #727171;
    line-height: 35px;
}

.sd-box {
    /*border-right: 1px solid #ccc;*/
}

.sd-split {
    display: inline-block;
    width: 75px;
    height: 2px;
    background-color: #a1a1a1;
    margin-top: 20px;
}

.sd-txt {
    padding: 25px 32px 0px 32px;
    color: #727171;
    line-height: 20px;
    text-align: justify;

}

.sd-btn {
    width: 75px;
    height: 20px;
    line-height: 20px;
    background-color: #949494;
    text-align: center;
    border: none;
    padding: 0;
    color: #fff;
    cursor: pointer;
}


/* partner */
.partner {
    position: relative;
    background: url("../images/partner/partner_bg.jpg");
    background-position: center top;
    background-size: cover;
}

.partner-title {
    height: 15%;
}

.partner-title .title {
    padding-top: 3%;
}

.partner-title .title span {
    color: #fff;
}

.partner-logo {
    display: table;
    width: 100%;
    max-width: 1094px;
    height: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

.partner-box {
    display: table-cell;
    vertical-align: middle;
}

.partner-logo img {
    float: left;
    width: 180px;
    height: 88.8px;
    margin-bottom: 35px;
    border: 1px solid #785d50;
    overflow: hidden;
}


/* contact */
.contactus {
    position: relative;
    background: url("../images/contact/contact_bg.jpg");
    background-position: center top;
    margin-bottom: 5px;
}

.contact-title {
    height: 20%;
}

.contact-title .title {
    padding-top: 3%;
}

.contact-title .title span {
    color: #fff;
}

.contact-box {
    position: relative;
    width: 80%;
    max-width: 1200px;
    height: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.contact-msg {
    position: absolute;
    top: 50px;
    width: 650px;
}

.contact-block {
    padding: 8px 30px;
    margin-bottom: 15px;
    color: #fff;
    background-color: rgba(89, 77, 64, 0.35);
}

.contact-block.inline {
    display: inline-block;
    width: 314px;
}

.contact-block.inline .contact-txt {
    width: 200px;
}

.contact-block.tel {
    margin-left: 17px;
}

.contact-inline {
    display: inline-block;
}

.contact-label {
    display: inline-block;
    vertical-align: top;
}

.contact-txt {
    width: 535px;
    background-color: rgba(50, 41, 32, 0.03);
    color: #fff;
    border: none;
    resize: none;
}

.submit-btn {
    width: 125px;
    height: 28px;
    background-color: #e95f24;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
}

.point {
    font-size: 14px;
    color: #e95f24;
    font-weight: 400;
}

.mark {
    color: #bcbbbb;
    font-size: 12px;
    vertical-align: bottom;
}

.contact-tel {
    padding-top: 70px;
    color: #fff;
}

.contact-tel p {
    font-size: 14px;
    line-height: 28px;
}

.contact-address {
    width: 318px;
    height: 260px;
    padding: 77px 0 0 10px;
}

.telnum {
    letter-spacing: 1px;
}

.phonenum {
    letter-spacing: 1.5px;
}

.phonemark {
    letter-spacing: 1.5px;
}

.mail, .qq {
    letter-spacing: 2px;
}

.contact-img {
    position: absolute;
    right: 0;
    z-index: 2;
}

.contact-qq {
    padding-top: 20px;
}

.qq-box {
    display: inline-block;
    position: relative;
}

.qq-box > img {
    display: inline-block;
    vertical-align: middle;
}

.qq-box .menu {
    display: inline-block;
    width: 65px;
    height: 20px;
    vertical-align: middle;
    font-size: 12px;
    line-height: 20px;
    margin-left: 10px;
    border-radius: 3px;
    text-align: center;
    background-color: #eb5f0e;
    cursor: pointer;
}

.qq-box .menu:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -1px;
    left: 20px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 11px;
    transform: scale(0.5) skew(-20deg);
    -webkit-transform: scale(0.5) skew(-20deg);
    -moz-transform: scale(0.5) skew(-20deg);
    -ms-transform: scale(0.5) skew(-20deg);
    border-color: transparent #eb5f0e transparent transparent;
    border-style: dashed solid dashed dashed;
}


/* other */
.ml20 {
    margin-left: 20px;
}

.mb100 {
    margin-bottom: 100px;
}

.orange {
    color: #e95f24;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    background-color: #fff;
    color: #e95f24;
    text-align: center;
    font-weight: 600;
    vertical-align: middle;
}

.btn:hover {
    background: #e95f24;
    color: #fff;
}

@-webkit-keyframes bounce {
    0%,
    100%,
    20%,
    53%,
    80% {
        -webkit-animation-timing-function: cubic-bezier(0.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(0.215, .61, .355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, .050, .855, .060);
        animation-timing-function: cubic-bezier(0.755, .050, .855, .060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0)
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, .050, .855, .060);
        animation-timing-function: cubic-bezier(0.755, .050, .855, .060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0)
    }
}

@keyframes bounce {
    0%,
    100%,
    20%,
    53%,
    80% {
        -webkit-animation-timing-function: cubic-bezier(0.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(0.215, .61, .355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, .050, .855, .060);
        animation-timing-function: cubic-bezier(0.755, .050, .855, .060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0)
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, .050, .855, .060);
        animation-timing-function: cubic-bezier(0.755, .050, .855, .060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0)
    }
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInUp {
    display: block !important;
}

.btn-border {
    display: inline-block !important;
    border: 1px solid #fff;
    padding: 4px;
}

.hidden .btn {
    display: none;
}

.fadeInUp .btn {
    display: block;
}


/* media query */
@media (max-width: 1920px) and (min-width: 1440px) {

}

@media (max-width: 1439px) and (min-width: 1200px) {
    .contact-box {
        width: 90%;
    }

    .sd-txt {
        padding: 25px 20px;
    }
}

@media (max-width: 1199px) { 

    /* service */
    .service {
        height: 1000px !important;
    }

    .service-title {
        height: 12%;
    }

    .service-body {
        height: 88%;
    }

    .service-platform {
        width: 100%;
        height: 30%;
    }

    .service-platform .item img {
        width: 85px;
        height: 60px;
    }

    .service-detail {
        width: 95%;
        height: 70%;
    }

    .sd-title {
        font-size: 14px;
    }

    .sd-item {
        width: 49%;
        margin-bottom: 30px;
    }

    .sd-txt {
        padding: 25px 45px;
    }
}

@media (max-width: 1199px) and (min-width: 1024px) {

    /* about */
    .detail2 {
        display: none;
    }

    .ab-computer {
        width: 400px;
        height: 300px;
    }

    .ab-ipad {
        width: 150px;
        height: 100px;
    }

    .ab-book {
        width: 100px;
        height: 170px;
        left: 352px;
    }

    .ab-line {
        width: 250px;
        height: 150px;
        bottom: 100px;
        left: -200px
    }

    .scroll-box {
        left: 16px;
        bottom: 106px;
        width: 368px;
        height: 185px;
    }

    /* service */
    .service-platform {
        width: 100%;
    }

    .service-platform .item img {
        width: 140px;
        height: 90px;
    }

    .sd-txt {
        padding: 26px 30px;
    }
    
    /* partner */
    .partner-logo {
        max-width: 930px;
    }

    .partner-logo img {
        width: 155px;
        height: 80px;
    }

    /* contact */
    .contact-msg {
        position: static;
        margin: 0 auto;
    }

    .contact-img {
        display: none;
    }
}

@media (max-width: 1023px) {

    /* about */
    .about-wall {
        height: 70%;
    }

    .about-description {
        position: static;
        float: none;
        width: 512px;
        text-align: center;
        margin: 0 auto;
    }

    .ab-detail {
        padding-bottom: 20px;
    }

    .detail0 {
        display: none;
    }

    .ab-btn {
        margin-bottom: 40px;
    }

    .ab-box {
        margin-left: -150px;
    }

    .ab-computer {
        width: 300px;
        height: 200px;
    }

    .ab-ipad {
        width: 100px;
        height: 66px;
        left: -55px;
    }

    .ab-book {
        width: 100px;
        height: 100px;
        left: 252px;
    }

    .ab-line {
        display: none;
    }

    .scroll-box {
        width: 276px;
        height: 123px;
        bottom: 72px;
        left: 12px;
    }

    .ab-num {
        width: 100%;
    }

    .ab-num .number {
        font-size: 18px;
    }

    /* example */
    .example {
        height: 500px !important;
    }

    .table-cell > img {
        width: 100px;
        height: 30px;
    }

    .table-cell .white,
    .table-cell .more {
        font-size: 12px;
    }

    .table-cell .time {
        font-size: 12px;
    }

    /* lession */
    .lession {
        height: 500px !important;
    }

    .l-box {
        height: 55%;
    }

    .l-title {
        font-size: 20px;
    }

    .l-en {
        padding-bottom: 34px;
    }

    .lession-img {
        width: 150px;
        height: 45%;
    }

    /* member */
    .member .slogan {
        font-size: 38px;
    }

    /* partner */
    .partner {
        height: 800px !important;
    }

    .partner-title {
        height: 15%;
    }

    .partner-logo {
        max-width: 520px;
    }

    .partner-logo img {
        width: 130px;
        height: 70px;
    }

    /* contact */
    .contact-box {
        width: 92%;
    }

    .contact-msg {
        position: static;
        width: 600px;
        margin: 0 auto;
    }

    .contact-img {
        display: none;
    }

    .contact-block.inline {
        width: 289px;
    }

    .contact-block.inline .contact-txt {
        width: 182px;
    }

    .contact-txt {
        width: 493px;
    }

    .contact-address {
        width: 270px;
    }
}

@media (max-width: 800px) {

    /* service */
    .service {
        height: 1000px !important;
    }

    .service-title {
        height: 5%;
    }
}

@media (max-width: 639px) {

    /* about */
    .about-description {
        width: 400px;
    }

    .ab-num .item {
        font-size: 12px;
    }

    /* example */
    .example {
        height: 900px !important;
    }

    .example-title {
        height: 15%;
    }

    .example-items .box {
        width: 50%;
        height: 25%;
    }

    /* lession */
    .lession {
        height: 1000px !important;
    }

    .lession-title {
        height: 12%;
    }

    .lession-items .item {
        width: 100%;
        height: 300px;
    }

    .lession-img {
        width: 165px;
        height: 55%;
    }

    .l-box {
        height: 45%;
    }

    .l-title {
        font-size: 18px;
    }

    .l-en {
        padding-bottom: 10px;
    }

    .l-time {
        font-size: 12px;
    }

    .show480 {
        display: block;
    }

    .hide480 {
        display: none;
    }

    /* mumber */
    .member {
    background-attachment: scroll;
    }
    
    .member .slogan {
        font-size: 26px;
    }

    /* service */
    .service {
        height: 1100px !important;
    }

    .service-title {
        height: 5%;
    }

    /* partner */
    .partner {
        height: 1000px !important;
    }

    .partner-title {
        height: 12%;
    }

    .partner-logo {
        max-width: 390px;
    }

    /* contact */
    .contact-box {
        width: 92%;
    }

    .contact-msg {
        position: static;
        width: 440px;
        margin: 0 auto;
    }

    .contact-img {
        display: none;
    }

    .contact-block.tel {
        margin-left: 0;
    }

    .contact-block.inline {
        display: block;
        width: 100%;
    }

    .contact-block.inline .contact-txt,
    .contact-txt {
        width: 333px;
    }

    .submit-btn {
        width: 100%;
    }

    .contact-submit .mark {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .contact-address,
    .contact-qq {
        display: none;
    }
}

@media (max-width: 479px) {

    /* about */
    .about-description {
        width: 100%;
    }

    .ab-detail .detail1 {
        display: none;
    }

    .ab-book,
    .ab-ipad {
        display: none;
    }
    
    .ab-num .number {
        display: block;
    }

    .ab-computer {
        width: 270px;
        height: 170px;
    }

    .ab-box {
        margin-left: -135px;
    }

    .scroll-box {
        width: 250px;
        height: 106px;
        bottom: 60px;
        left: 10px;
    }
    
    /* partner */
    .partner-logo {
        max-width: 280px;
    }

    .partner-logo img {
        width: 138px;
        height: 70px;
        margin-bottom: -1px;
    }
    
    /* service */ 
    .service {
        height: 1100px !important;
    }

    .sd-txt {
        padding: 25px 10px;
    }

    .service-platform .item img {
        width: 70px;
        height: 50px;
    }

    .service-item1 {
        left: 11%;
    }

    .service-item2 {
        left: 25%;
    }

    .service-item3 {
        left: 40%;
    }

    .service-item4 {
        left: 54%;
    }

    .service-item5 {
        left: 69%;
    }

    /* member */
    .member .txt {
        display: none;
    }

    /* contact */
    .contact-msg {
        width: 300px;
    }

    .contact-block {
        padding: 8px;
    }

    .contact-block.inline .contact-txt,
    .contact-txt {
        width: 237px;
    }

    .contact-tel p {
        font-size: 12px;
    }

    .point {
        font-size: 12px;
    }
}

@media (max-width: 400px) {

    /* service */ 
    .service {
        height: 1100px !important;
    }

    .sd-subtitle {
        display: none;
    }
}

@media (max-width: 860px) {
    .intro2-title {
        margin-top: -50px !important;
    }

    .intro2-title img {
        width: 400px;
    }

    .swiper-slide-caption .intro2-txt {
        font-size: 18px;
    }

    .intro2-line {
        display: none;
    }
}

@media (max-width: 780px) {
    .intro3-title > img {
        width: 400px;
    }
}

@media (max-width: 460px) {
    .intro2-title img {
        width: 260px;
    }

    .swiper-slide-caption .intro2-txt {
        font-size: 14px;
    }

    .intro3-title > img {
        width: 260px;
    }

    .intro3-txts {
        display: none;
    }
}
