<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta content="telephone=no,email=no" name="format-detection">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
	<title>培训课程</title>
	<link rel="stylesheet" type="text/css" href="./css/unslider.css?v=201611170957">
	<link rel="stylesheet" type="text/css" href="./css/base.css?v=201702202211">
	<link rel="stylesheet" type="text/css" href="./css/lession.css?v=201611170957">
</head>
<body>
	<!-- 头部导航 -->
	<div class="header">
		<a href="index.html">
			<img class="logo" src="images/header/logo.png" height="37" width="148">
		</a>
		<div class="container">
			<ul class="nav clearfix">
				<li class="first">
					<a href='./index.html' data-target="">首页</a>
				</li>
				<li>
					<a href='#' data-target="about">关于绎奇</a>
				</li>
				<li>
					<a href='#' data-target="example">经典案例</a>
				</li>
				<li>
					<a href='#' data-target="lession">培训课程</a>
				</li>
				<li>
					<a href='#' data-target="service">服务类目</a>
				</li>
				<li class="active cur">
					<a href='#' data-target="">最新动态</a>
				</li>
				<li>
					<a href='#' data-target="partner">合作伙伴</a>
				</li>
				<li class="last">
					<a href='#' data-target="contact">联系我们</a>
					<ul class="second-nav">
						<li>PPT定制</li>
						<li>AE视频定制</li>
						<li>Keynot定制</li>
						<li>商业计划书</li>
						<li>宣传片设计</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="phone">
			<img class="phone-icon" src="images/header/phone_icon.png" height="16" width="15">
			<span>热线电话：<span class="tel-num">025-58206840</span></span>
		</div>
		<img class="nav-btn" src="images/header/navBtn.png">
	</div>
	<!-- 主体部分 -->
	<div class="lession">
		<!-- 头部介绍 -->
		<div class="le-header">
			<img class="le-title" src="./images/lession_detail/title.png">
			<div class="le-subtitle">一站式企业定制化办公技能培训解决方案</div>
			<a class="le-btn qq-kefu" href="#">预约课程</a>
		</div>
		<!-- 中部介绍 -->
		<div class="le-intro">
			<div class="le-intro-img">
				<span class="intro intro1">线上培训、课程</span>
				<span class="intro intro2">企业内训</span>
				<span class="intro intro3">精英特训营</span>
				<span class="intro intro4">课程质量可靠</span>
				<span class="intro intro5">定制化，满足需求</span>
				<span class="intro intro6">培训与资讯一体化</span>
				<span class="txt txt1">机构</span>
				<span class="txt txt2">介绍</span>
			</div>
			<p>绎奇培训，融合丰富演示、设计经验，跟进时下最新教育理念，开设了PPT技能线上培训、企业内训、线下培训的公开培训课程</p>
			<p>拥有一支理论知识渊博、实战经验丰富的强大师资团队，提供多样化的教学模式。目前，优质动画课程已登录网易云线上课程，携手知名企业，量身定制100多场内训课程，</p>
			<p>开展了数十场内容丰富、专题明确的线下实训课程</p>
		</div>
		<!-- 课程介绍 -->
		<div id="lession" class="le-lession" name="lession">
			<div class="le-nav">
				<div class="le-logo">
					<img src="./images/lession_detail/le_nav_logo.png">
				</div>
				<ul class="le-navlist">
					<li v-for="(list, index) in lists" v-text="list" :class="{active: active === index + 1}" @click="isActive(index)"></li>
				</ul>
				<div class="le-share">
					<img src="./images/lession_detail/tel.png">
					<span class="le-tel">025-58206840</span>
					<div class="le-share-box">
						<div class="le-share-item share">
							<div class="share-box box" data-width="80px">
								<div class="share-border"></div>
								<a><img class="wechat" src="./images/lession_detail/nav/share_wechat.png" ></a>
								<a><img class="weibo" src="./images/lession_detail/nav/share_weibo.png" ></a>
								<span class="triangle"></span>
							</div>
						</div>
						<div class="le-share-item im">
							<div class="share-box box" data-width="105px">
								<div class="share-border"></div>
								<a class="qme">有事您请Q我</a>
								<span class="triangle"></span>
							</div>
						</div>
						<div class="le-share-item weibo">
							<div class="share-box box" data-width="105px">
								<div class="share-border"></div>
								<span class="share-focus">
									<a><img src="./images/lession_detail/nav/share_focus.png" ></a>
									<a class="">加关注</a>
								</span>
								<span class="triangle"></span>
							</div>
						</div>
						<div class="le-share-item wechart">
							<div class="share-big-box box" data-width="200px">
								<div class="qrcode">
									<img src="./images/lession_detail/nav/share_qrcode1.jpg">
									<p>绎奇公众号</p>
								</div>
								<div class="qrcode">
									<img src="./images/lession_detail/nav/share_qrcode2.jpg">
									<p>小陆老师公众号</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="le-content"> 
				<div class="my-slider content" v-show="active === 1">
					<ul>
						<li class="clearfix unslide">
							<div class="slide-wripe">
								<div class="slide-left">
									<img src="./images/lession_detail/content_slide_logo_1.png" height="74px">
									<div class="slide-banner">
										<h3 class="name">东风日产 & 绎奇</h3>
										<span class="theme">确定战略合作关系</span>
									</div>
									<p class="txt">
										绎奇培训，基于学员真实痛点与需求的专业培训。基于以往对不同企业员工的上百场offico内训、数十场office线下特训，我们深知学员们的几大通病：软件操作不熟练、基本审美能力低下、办公软件背后的理念认识不足，对此，我们携手知名企业，提供最有效的解决方案。
									</p>
									<div class="slide-menu-txt">
										我的需求与此项目类似
									</div>
									<button type="button" class="slide-btn qq-kefu">咨询服务</button>
								</div>
								<div class="slide-right">
									<img src="./images/lession_detail/content_slide_1.jpg" height="934" width="100%">
								</div>
							</div>
						</li>
						<li class="clearfix unslide">
							<div class="slide-wripe">
								<div class="slide-left">
									<img src="./images/lession_detail/content_slide_logo_2.png">
									<div class="slide-banner">
										<h3 class="name">中国平安 & 绎奇</h3>
										<span class="theme">确定战略合作关系</span>
									</div>
									<p class="txt">
										绎奇培训，基于学员真实痛点与需求的专业培训。基于以往对不同企业员工的上百场offico内训、数十场office线下特训，我们深知学员们的几大通病：软件操作不熟练、基本审美能力低下、办公软件背后的理念认识不足，对此，我们携手知名企业，提供最有效的解决方案。
									</p>
									<div class="slide-menu-txt">
										我的需求与此项目类似
									</div>
									<button type="button" class="slide-btn qq-kefu">咨询服务</button>
								</div>
								<div class="slide-right">
									<img src="./images/lession_detail/content_slide_2.jpg" height="934" width="100%">
								</div>
							</div>
						</li>
						<li class="clearfix unslide">
							<div class="slide-wripe">
								<div class="slide-left">
									<img src="./images/lession_detail/content_slide_logo_3.png">
									<div class="slide-banner">
										<h3 class="name">清华大学 & 绎奇</h3>
										<span class="theme">确定战略合作关系</span>
									</div>
									<p class="txt">
										绎奇培训，基于学员真实痛点与需求的专业培训。基于以往对不同企业员工的上百场offico内训、数十场office线下特训，我们深知学员们的几大通病：软件操作不熟练、基本审美能力低下、办公软件背后的理念认识不足，对此，我们携手知名企业，提供最有效的解决方案。
									</p>
									<div class="slide-menu-txt">
										我的需求与此项目类似
									</div>
									<button type="button" class="slide-btn qq-kefu">咨询服务</button>
								</div>
								<div class="slide-right">
									<img src="./images/lession_detail/content_slide_3.jpg" height="934" width="100%">
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="course content" v-show="active === 2">
					<div class="course-box clearfix">
						<div class="course-top course1 mr2">
							<div class="computer">
								<div class="course-scroll">
									<ul class="scroll">
										<li><img src="./images/lession_detail/content2/content2_scroll_1.jpg"></li>
										<li><img src="./images/lession_detail/content2/content2_scroll_2.jpg"></li>
									</ul>
								</div>
							</div>
							<div class="intro">
								<p class="title">360°解析PPT制作·动画篇（专业版）</p>
								<div class="txt-box">
									<span class="border"></span>
									<span class="mark">PPT动画零基础到大神的必备修行</span>
									<span class="border"></span>
								</div>
								<a href="http://study.163.com/course/introduction/1002841039.htm#/courseDetail" target="_blank" class="btn">立即查看</a>
								&nbsp;
								<a class="btn">点击咨询</a>
							</div>
						</div>
						<div class="course-top course2">
							<img class="word" src="./images/lession_detail/content2/content2_word.png" >
							<img class="man" src="./images/lession_detail/content2/content2_man.png">
							<div class="btns">
								<a href="http://study.163.com/course/introduction/1697003.htm#/courseDetail" target="_blank" class="btn">立即查看</a>
								&nbsp;
								<a class="btn">点击咨询</a>
							</div>
						</div>
						<div class="course-bottom course3 mr2">
							<div class="cell">
								<h3 class="txt1">即将上线</h3>
								<span class="circle">… …</span>
								<h2 class="txt2">敬请期待</h2>
								<a class="btn">点击咨询</a>
							</div>
						</div>
						<div class="course-bottom course4 mr2">
							<div class="cell">
								<h3 class="txt1">即将上线</h3>
								<span class="circle">… …</span>
								<h2 class="txt2">敬请期待</h2>
								<a class="btn">点击咨询</a>
							</div>
						</div>
						<div class="course-bottom course5">
							<div class="cell">
								<h3 class="txt1">即将上线</h3>
								<span class="circle">… …</span>
								<h2 class="txt2">敬请期待</h2>
								<a class="btn">点击咨询</a>
							</div>
						</div>
					</div>
				</div>
				<div id="speeking" class="speeking content" v-show="active === 3">
					<div class="free">
						<div class="slide-menu-txt">
							我的需求与此合作类似
						</div>
						<button type="button" class="slide-btn qq-kefu">免费预约</button>	
					</div>
					<img class="layer" data-depth="0.30" src="./images/lession_detail/content3/layer.png">
				</div>
				<div class="training content" v-show="active === 4">
					<div class="training-box clearfix">
						<div class="left">
							<img class="photos" src="./images/lession_detail/content4/photos.png">
						</div>
						<div class="right">
							<p>绎奇传媒专为广大PPTer们开设的PPT线下集训课程。</p>
							<p>线下课程的优势在于学员与讲师可以面对面互动，学员问题能获得针对性的解决。</p>
							<p>此线下课程与绎奇的线上课程、企业内训共同组成“线上自由学习、企业批量培训、个人线下集训”的体系，供不同需求的学员们按需选择。</p>
							<p>线下课程的内容也最为丰富，包含PPT零基础操作集训、演示设计原理解析、实战问题解决套路等诸多板块，更有线上课程、海量资源、精美图书等好礼相赠！准备好你的大脑，来一场演示观的革新之旅吧。</p>
							<div class="call">
								<div class="slide-menu-txt">
									我的需求与此合作类似
								</div>
								<button type="button" class="slide-btn qq-kefu">咨询服务</button>	
							</div>
						</div>
					</div>
				</div>
				<div class="teacher content" v-show="active === 5">
					<div class="teacher-box title-box">
						<div class="caption">
							<span class="line"></span>
							<h2 class="title">TEAM</h2>
							<span class="line"></span>
						</div>
						<span class="sub-title">OUR KEY EMPLOYEES</span>
						<ul class="teacher-list clearfix">
							<li v-for="(teacher, index) in teachers" @mouseenter="addflip(index)" :class="{flipInY: teacher.flipInY, animated: true}">
								<div class="face face1">
									<img :src="'./images/lession_detail/content5/face' + parseInt(index + 1) + '.png'" >
								</div>
								<div class="call">
									<span class="name" v-text="teacher.name"></span>
									&nbsp;
									<span class="honor" v-text="teacher.honor"></span>
								</div>
								<span class="split"></span>
								<p class="intro" v-text="teacher.leader"></p>
								<p class="intro" v-text="teacher.intro"></p>
							</li>
						</ul>
					</div>
				</div>
				<div class="content news" v-show="active === 6">
					<div class="news-box title-box">
						<div class="caption">
							<span class="line"></span>
							<h2 class="title">NEWS</h2>
							<span class="line"></span>
						</div>
						<span class="sub-title">STAY INFORMED</span>
						<ul class="news-list active">
							<li>
								<a href="#">
									<img src="./images/lession_detail/content6/news_01.jpg">
									<div class="contents">
										<h3>中国平安保险</h3>
										<p class="txt">成千上万的人梦想拥有自己的企业,成为一个成功的企业家更是如此。但是怎样才能实现成功商业行业的?最成功的企业家之一了成千上万的人梦想拥有自己的企业,成为一个成功的企业家更是如此。但是怎样才能实现成功商业行业的?最成功的企业家之一了成千上万的人梦想拥有自己的企业,成为一个成功的企业家更是如此。但是怎样才能实现成功商业行业的?最成功的企业家之一了</p>
									</div>
									<div class="time">
										08/19/2016
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="./images/lession_detail/content6/news_02.jpg">
									<div class="contents">
										<h3>太平鸟</h3>
										<p class="txt">成千上万的人梦想拥有自己的企业,成为一个成功的企业家更是如此。但是怎样才能实现成功商业行业的?最成功的企业家之一了成千上万的人梦想拥有自己的企业,成为一个成功的企业家更是如此。但是怎样才能实现成功商业行业的?最成功的企业家之一了成千上万的人梦想拥有自己的企业,成为一个成功的企业家更是如此。但是怎样才能实现成功商业行业的?最成功的企业家之一了</p>
									</div>
									<div class="time">
										08/19/2016
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="./images/lession_detail/content6/news_03.jpg">
									<div class="contents">
										<h3>中国平安保险</h3>
										<p class="txt">成千上万的人梦想拥有自己的企业,成为一个成功的企业家更是如此。但是怎样才能实现成功商业行业的?最成功的企业家之一了成千上万的人梦想拥有自己的企业,成为一个成功的企业家更是如此。但是怎样才能实现成功商业行业的?最成功的企业家之一了成千上万的人梦想拥有自己的企业,成为一个成功的企业家更是如此。但是怎样才能实现成功商业行业的?最成功的企业家之一了</p>
									</div>
									<div class="time">
										08/19/2016
									</div>
								</a>
							</li>
						</ul>
						<ul class="news-list">
							<li>
								<a href="#">
									<img src="./images/lession_detail/content6/news_01.jpg">
									<div class="contents">
										<h3>中国平安保险</h3>
										<p class="txt">成千上万的人梦想拥有自己的企业,成为一个成功的企业家更是如此。但是怎样才能实现成功商业行业的?最成功的企业家之一了成千上万的人梦想拥有自己的企业,成为一个成功的企业家更是如此。但是怎样才能实现成功商业行业的?最成功的企业家之一了成千上万的人梦想拥有自己的企业,成为一个成功的企业家更是如此。但是怎样才能实现成功商业行业的?最成功的企业家之一了</p>
									</div>
									<div class="time">
										08/19/2016
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="./images/lession_detail/content6/news_02.jpg">
									<div class="contents">
										<h3>太平鸟</h3>
										<p class="txt">成千上万的人梦想拥有自己的企业,成为一个成功的企业家更是如此。但是怎样才能实现成功商业行业的?最成功的企业家之一了成千上万的人梦想拥有自己的企业,成为一个成功的企业家更是如此。但是怎样才能实现成功商业行业的?最成功的企业家之一了成千上万的人梦想拥有自己的企业,成为一个成功的企业家更是如此。但是怎样才能实现成功商业行业的?最成功的企业家之一了</p>
									</div>
									<div class="time">
										08/19/2016
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="./images/lession_detail/content6/news_03.jpg">
									<div class="contents">
										<h3>中国平安保险</h3>
										<p class="txt">成千上万的人梦想拥有自己的企业,成为一个成功的企业家更是如此。但是怎样才能实现成功商业行业的?最成功的企业家之一了成千上万的人梦想拥有自己的企业,成为一个成功的企业家更是如此。但是怎样才能实现成功商业行业的?最成功的企业家之一了成千上万的人梦想拥有自己的企业,成为一个成功的企业家更是如此。但是怎样才能实现成功商业行业的?最成功的企业家之一了</p>
									</div>
									<div class="time">
										08/19/2016
									</div>
								</a>
							</li>
						</ul>
						<ul class="news-list">
							<li>
								<a href="#">
									<img src="./images/lession_detail/content6/news_01.jpg">
									<div class="contents">
										<h3>中国平安保险</h3>
										<p class="txt">成千上万的人梦想拥有自己的企业,成为一个成功的企业家更是如此。但是怎样才能实现成功商业行业的?最成功的企业家之一了成千上万的人梦想拥有自己的企业,成为一个成功的企业家更是如此。但是怎样才能实现成功商业行业的?最成功的企业家之一了成千上万的人梦想拥有自己的企业,成为一个成功的企业家更是如此。但是怎样才能实现成功商业行业的?最成功的企业家之一了</p>
									</div>
									<div class="time">
										08/19/2016
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="./images/lession_detail/content6/news_02.jpg">
									<div class="contents">
										<h3>太平鸟</h3>
										<p class="txt">成千上万的人梦想拥有自己的企业,成为一个成功的企业家更是如此。但是怎样才能实现成功商业行业的?最成功的企业家之一了成千上万的人梦想拥有自己的企业,成为一个成功的企业家更是如此。但是怎样才能实现成功商业行业的?最成功的企业家之一了成千上万的人梦想拥有自己的企业,成为一个成功的企业家更是如此。但是怎样才能实现成功商业行业的?最成功的企业家之一了</p>
									</div>
									<div class="time">
										08/19/2016
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="./images/lession_detail/content6/news_03.jpg">
									<div class="contents">
										<h3>中国平安保险</h3>
										<p class="txt">成千上万的人梦想拥有自己的企业,成为一个成功的企业家更是如此。但是怎样才能实现成功商业行业的?最成功的企业家之一了成千上万的人梦想拥有自己的企业,成为一个成功的企业家更是如此。但是怎样才能实现成功商业行业的?最成功的企业家之一了成千上万的人梦想拥有自己的企业,成为一个成功的企业家更是如此。但是怎样才能实现成功商业行业的?最成功的企业家之一了</p>
									</div>
									<div class="time">
										08/19/2016
									</div>
								</a>
							</li>
						</ul>
						<div class="pagination">
							<span class="prev"> < </span>
							<ul id="news_page" class="page">
								<li class="active">1</li>
								<li>2</li>
								<li>3</li>
							</ul>
							<span class="next"> > </span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 底部 -->
	<div class="footer">
		<div class="footer-main">
			<div class="footer-top clearfix">
				<div class="item item1">
					<img class="footer-logo" src="images/footer/footer_logo.png">
				</div>
				<div class="item item2">
					<span class="footer-title copy">版权声明</span>
					<p class="copyright">
						绎奇官方发布的商业案例和讲师发布的课程版权属于绎奇传媒，任何转载等商业用途均需联系作者。如未经授权用作他处，作者将追究侵权者的法律责任。
					</p>
					<p class="copyright2">绎奇网为O2O商业平台，若您有任何需要，均可直接与在线客服联系。</p>
				</div>
				<div class="item item3">
					<span class="footer-title contact">联系我们</span>
					<div class="footer-contact">
						<p class="address">南京市 浦口区 团结路99号 孵鹰大厦 A205</p>
						<p class="tel">+86&nbsp;&nbsp;025-58206840&nbsp;&nbsp;&nbsp;&nbsp;18951614092</p>
						<p class="mail">邮箱： 3348656075@qq.com</p>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-floor">
			<div class="footer-bottom">
				Copyright@2015绎奇网&nbsp;&nbsp;&nbsp;苏ICP备10000000号
			</div>
		</div>
	</div>
	<script src="./js/plugin/vue.js?v=201612142055"></script>
	<script src="./js/plugin/jquery.min.js?v=201612142055"></script>
	<script src="./js/plugin/core.min.js"></script>
	<script src="./js/lession.js?v=201612142055"></script>
	<script src="./js/base.js?v=201702202211"></script>
</body>
</html>